@(items: List[TodoItem])

<!DOCTYPE html>
<style>
    body {
        color: pink;
    }

    .row {
        width: 100%;
        text-align: center; // center the content of the container
    }

    .block {
        width: 100px;
        display: inline-block; // display inline with abality to provide width/height
    }​
</style>
<html>
    <body>
        <h2>GOmer's ToDo list</h2>
        <div class="block">
            <ul>
                @for(item <- items) {
                    <li class="row">@item.text <form method="post" action="@controllers.routes.TodoController.remove(item.epochMillis)"><button type="submit">Delete</button></form></li>
                }
            </ul>
            @if(items.isEmpty) {
                You don't have any ToDo items!
            }
        </div>
        <div>
            <form method="post" action="@controllers.routes.TodoController.create">
                <input type="text" minlength="1" name="text">
                <button type="submit">Create</button>
            </form>
        </div>
    </body>
</html>